DATABASE_URL

RESEND_API_KEY // Now using nodemailer

YOOKASSA_SHOP_ID
YOOKASSA_API_KEY

GITHUB_ID
GITHUB_SECRET

NEXTAUTH_URL=http://localhost:3000/
NEXTAUTH_SECRET

URL=http://localhost:3000
NEXT_PUBLIC_API_URL=/api

MAIL_HOST=smtp.gmail.com
MAIL_PORT
MAIL_USER
MAIL_PASSWORD